body {
    font-family: Arial;
    background: linear-gradient(135deg, #11998e, #38ef7d);
    text-align: center;
}

h1 {
    color: white;
}

a {
    padding: 8px 12px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

table {
    width: 80%;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
}

th, td {
    padding: 10px;
}
